<h1>Ambazon</h1>

	<h3>Categories</h3>

	<% @categories.each do |cat| %>
		<ul>
			<li><%= link_to cat.name, category_path(cat.id) %></li>
		</ul>
	<% end %>

	<h3>All products</h3>
	
	<% @products.each do |prod| %>
		<ul>
			<li><%= prod.name %> in <%= prod.category.name %></li>
		</ul>
	<% end %>

